.container {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

button {
    border: 0;
    animate: 0.5s;
    transition: 0.5s;
    width: 205px;
    height: 60px;
    padding: 0 20px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
    cursor: pointer;
}

button.archive {
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
}

button.virtues {
    background: linear-gradient(90deg, #000000, #fcf3e9, #a9a9a9, #000000);
    background-size: 400%;
}

button:disabled {
    cursor: not-allowed;
}

button.archive:hover, button.archive.loading {
    animation: animate 8s linear infinite;
    animate: 0.5s;
    transition: 0.5s;
}

button.virtues:hover, button.virtues.loading {
    animation: animate 8s linear infinite;
    animate: 0.5s;
    transition: 0.5s;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
